{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Movie Gallery</title>
    <link rel="shortcut icon" href="{% static 'movies/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'movies/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'movies/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" />
</head>

<body>
    {% render_bundle 'app' %}
</body>

</html>
