<p class="lead">This is a website to keep track of movies that you have viewed. Use your login details to add, edit and delete your own movies. Or view movies that other users have added. Each movie has an associated image, description, genre and rating.</p>

<p class="lead">The website is a Single-Page Application (SPA). Technologies such as Django, Django REST framework are used on the server-side with AngularJS, Twitter Bootstrap and HTML5 used on the client-side.</p>

<div class="centre_text">
    <a href="/">
        <img src="../images/Movie.jpg" alt="Movie Clapperboard">
    </a>
</div>